@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body{
    font-family: "Inter", sans-serif;
}

/* =========================
   TIPOGRAFÍA BASE
========================= */

h1 {
    font-size: clamp(2rem, 5vw, 3.5rem);
}

h2 {
    font-size: clamp(1.75rem, 4vw, 2.75rem);
}

h3 {
    font-size: clamp(1.5rem, 3vw, 2.25rem);
}

h4 {
    font-size: clamp(1.25rem, 2.5vw, 1.75rem);
}

h5 {
    font-size: clamp(1.125rem, 2vw, 1.5rem);
}

h6 {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
}

p {
    font-size: clamp(1rem, 1.5vw, 1.125rem);
}