.f-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-flex-right{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.f-flex-column{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.f-flex-column-reverse{
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
}

.f-flex-row{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.f-flex-row-reverse{
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}