.banner-statistics{
    background-color: var(--color-background);
}
.banner__item{
    width: calc(100%/4); 
    padding: 55px;
    position: relative;
    color: var(--color-primary);
}
.banner__item h1{
    font-weight: 900;
}
.banner__item::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 100px;
    background-color: var(--color-primary-hover);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.banner__item:last-child::after {
    display: none;
}