.header{
    min-height: 300px;
}

.header--welcome{
    height: 100vh;
    background-color: var(--white-100);
}
.header--welcome article{
    width: 50%;
}
.header--welcome h1{
    font-size: clamp(2rem, 4vw, 4rem);
}
.header--welcome h3{
    margin: 12px 12px;
    font-size: clamp(2rem, 2vw, 4rem);
    color: #274DEA;
}
.header--welcome a{
    background-color: #1C1C1C;
    padding: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.2s ease-in transform;
}
.header--welcome a:hover{
    transform: scale(1.05);
}






.header__title {
    opacity: 0;
    transform: translateY(20px);
}

.header__subtitle {
    opacity: 0;
    transform: translateY(20px);
}

.active__title {
    opacity: 1;
    transform: translateY(0);
    transition: 0.8s ease;
}

.active__subtitle {
    opacity: 1;
    transform: translateY(0);
    transition: 0.8s ease;
}