.table--user{
    width: 60%;
    border-spacing: 0;
    background-color: var(--color-background);
}
.table--user,
th,
td{
    text-align: left;
    padding: 12px 16px;
}
.table--user th{
    color: var(--color-primary);
}
.table--user td{
    color: var(--color-primary);
}